<form action="{{ url }}" method="post">

  <input type="hidden" name="login" />

  <div class="form-item">
    <label for="user_name">User name:</label>
    <input type="text" name="username" />
  </div> <!-- /form-item -->

  <div class="form-item">
    <label for="password">Password:</label>
    <input type="password" name="pass" />
  </div> <!-- form-item -->

  <div class="form-action">
    <input class="form-submit" type="submit" value="Login" name="enter" />
  </div> <!-- form-submit -->

</form>