<div class="user-info">
  <div class="user-info-inner">
    <img class="image" src="/files/user/{{ image }}" alt="{{ id }}" width="55" />
    <div class="content">
      <span class='username'>{{ user }}</span>
      <a class="logout" href="/panel/logout">Logout</a>
    </div>
  </div>
</div>
