.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess


#custom added

application/config/database.php
application/storage


public/user_guide/*
public/replay


.idea/*


#server
.htaccess
.htpasswd