.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess


#custom added

application/config/database.php

public/user_guide/*

.idea/*