<!DOCTYPE html>
<html class="js" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>Scheduled Downtime | w3xsilvercloud </title>

  <meta name="viewport" content="width=device-width">

  <meta name="description" content="downtime dota parser">
  <meta name="keywords" content="warcraft,dota,games,savereplay">

  <link rel="stylesheet" type="text/css" href="/stylesheets/albatross_api.css">

</head>
<body class="downtime">

  <div class="page">

    <div class="region-content">

      <h1>Scheduled Downtime</h1>
        <h2>Site is currently down for maintenance.</h2>
        <h2>We expect to be back in a couple hours. <br />Thanks for your patience</h2>

        <div class="hero-search">
          <a class="logo" href="http://w3xsilvercloud.com/">w3xSilverCloud</a>
          <img src="/tinker.png" alt="404" width="460px">
        </div>
    </div> <!-- region-content -->
    
    <footer class="region-footer">
      <div class="footer-inner">
        <p>copyright 2014 by <a target="_blank" href="http://webpage-lab.com/">Webpage-lab.com</a></p>
      </div>
    </footer> <!-- footer -->

  </div> <!-- page -->

</body></html>