<nav class="main-nav">
  {% for item in items %}
    <a {% if curentUrl == item.url %} class="active" {% endif %} href="{{ item.url }}" {% if item.target %} target="{{ item.target }}" {% endif %}>{{ item.title }}</a>
  {% endfor %}
</nav>