

<div class="team-preview">

  <div class="team">
    <span class="label">TEAM 1</span>
    {{ reply.print_team_heroes(0) }}
  </div>

  <div class="team">
    <span class="label">TEAM 2</span>
    {{ reply.print_team_heroes(1) }}
  </div>

</div>
