<h1>Upload replay</h1>
<form enctype="multipart/form-data" action="{{ url }}upload/proced" method="post">

  <div class="form-item">
    <label for="replay_title" >Title <span class="required-astrix">*</span>:</label>
    <input class="form-text required" name="replay_title" id="replay_title" type="text" />
  </div>

  <div class="form-item">
    <label for="replay_winner" >Winner:</label>
    <select class="form-select" name="replay_winner" id="replay_winner">
      <option value="Automatic">Automatic </option>
      <option value="Sentinel">Sentinel </option>
      <option value="Scourge">Scourge </option>
    </select>

  </div> <!-- form-item -->

  <div class="form-item">
    <label for="replay_text">Description:</label>
    <textarea class="form-textarea" name="replay_text" id="replay_text" cols="65"></textarea>
  </div> <!-- form-item -->

  <div class="form-item">
    <label for="replay_file" >File<span class="required-astrix">*</span>: </label>
    <input name="replay_file" id="replay_file" type="file" />
    <p class="description">max allowed size is 2MB</p>
  </div> <!-- form-item -->

  <div class="form-action">
    <input class="form-submit" type="submit" value="Upload" name="uploadReplay" />
  </div>

</form>