body {
	background-image: url(../images/site/bg.jpg );
	background-repeat: repeat;
	background-position: 0 0;
	font-style: 14px;
}

.donation-wrapper {
	text-align: right;

	input,
	img {
		vertical-align: middle;
	}

	span {
		vertical-align: middle;
		color: #fff;
	}
}

a {
	color: #AFC7CD;
}

.logo {
	background-image: url("../logo.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 130px;
  width: 200px;
  @include hide( $display: inline-block );
}

// i.fa {
// 	color: #50D623;
// }

header {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 30px;
}

.page-holder {
	max-width: 1024px;
	margin: 0 auto 15px;
}

.page {
	// background-image: url("../images/site/hero_anim/pudge.png");
 //  background-position: right bottom;
 //  background-repeat: no-repeat;
 //  background-size: 380px auto;
  min-height: 100%;
}

.logo {
	color: #fff;
}

.main-nav {
	text-align: center;
	background-image: url(../images/site/menu-border.jpg);
	background-repeat: repeat-x;
	background-position: 0 bottom;
	padding-bottom: 11px;
	padding-top: 10px;
	
	a {
		background-image: url(../images/site/manu-active-border.jpg);
		background-repeat: repeat-x;
		background-position: 0 -9999px;
		display: inline-block;
		color: #afc7cd;
		font-style: 14px;
		padding: 12px;
		text-decoration: none;
		@include border-radius( 0 0 3px 3px);

		&:hover,
		&.active {
			color: #fff;
			background-position: 0 bottom;
		}

	}

}

.region-content {
	background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  max-width: $page-width;
  padding: 20px;

  @include border-radius( 10px );
  @include box-shadow( 1px 1px 1px rgba(255, 255, 255, 0.7) );
	
	> h1 {
		background: none repeat scroll 0 0 #292D30;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin-left: -20px;
    margin-right: -22px;
    margin-top: -20px;
    padding: 7px 30px 10px;
    @include border-radius( 10px 10px 0 0);
	}

}

.region-footer {
	width: 100%;
	max-width: $page-width;
	margin: 0 auto;
	@include pie-clearfix();
}

.footer-inner {
	float: right;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 5px;
	@include border-radius( 0 0 5px 5px);
	@include text-shadow( 0px 1px 0 rgba(255,255,255,0.3) );
	
}

body.front {
	.region-content {
		background: none;
		padding: 0;
		@include box-shadow( none );
	}

	.block {
		background-color: rgba( 255,255,255,0.2 );//#fff;
		color: #000;
		padding: 10px;


		@include border-radius( 5px 5px 0 5px );

		.view-item.item-head {
			color: #000;
		}

		.view-item {
			margin: 0;
			padding: 5px;
		}

	}

	// .footer-inner {
	// 	background-color: rgba(255, 255, 255, 0.2);
	// 	margin-top: -2px;
	// 	padding-top: 10px;
	// 	@include text-shadow( 0px 1px 0 rgba(255,255,255,0.3) );
	// }

}