
$pager-width: 30px;
$pager-height: 30px;

.pager {
	margin-top: 30px;
	padding: 4px;
	display: inline-block;
	@include border-radius( 20px );
	@include background-image(linear-gradient(center top, #dddddd, #ffffff));

	li {
		display: inline-block;
		list-style: none;
		border: 1px solid #cfc8bc;
		border-left: none;
		text-align: center;
		line-height: $pager-height;
		font-weight: bold;
		@include background-image(linear-gradient(center top, #f4f2ef, #e5e1d9));

		&:first-child {
			border-left: 1px solid #cfc8bc;
			@include border-radius(20px 0 0 20px);
		}

		&:last-child {
			@include border-radius( 0 20px 20px 0 );
		}

		&.current {
			width: $pager-width;
			height: $pager-height;
			border-color: #999f00;
			border-left: 1px solid #999f00;
			margin-left: -1px;
			color: #fff;
			@include text-shadow( 0 1px 0 rgba(0, 0, 0, 0.4) );
			@include background-image(linear-gradient(center top, #d9db17, #a3a709));
		}

	}

	a {
		display: inline-block;
		width: $pager-width;
		height: $pager-height;
		color: #f45100;
		text-decoration: none;
		@include text-shadow( #fff 0px 1px 0 );
	}

}